.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px 256px 256px 256px;
  }
}

.advantages__item {
   text-align: center;
   @media (min-width: @tablet-width) {
  }

   @media (min-width: @desktop-width) {
     grid-column-start: 1;
     grid-column-end: 4;
   }
 }

.advantages__item--color {
  background-color: @list-background;
  text-align: center;
  padding-left: 36px;
  padding-right: 36px;

   @media (min-width: @tablet-width) {

   }

   @media (min-width: @desktop-width) {
     grid-row-start: 4;
   }
}

 .advantages__item-location {
   @media (min-width: @tablet-width) {

   }

   @media (min-width: @desktop-width) {
     grid-row-start: 3;
   }
 }
