.benefits {
  background-color: @navigation-background;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.benefits__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @navigation-text-color;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.benefits__numbering {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: @navigation-text-color;
  padding: 0;
  margin: 0;
}

.benefits__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: @navigation-text-color;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
