.list__item--registration {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-auto-rows: 400px 400px 400px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: 400px 400px;
  }
}

.list__item--location {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.list__desc-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: @heading-text-color;
  margin: 0;
  padding: 0;
}

.list__text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: @heading-text-color;
}
