.main-header__logo {
  height: 96px;
  width: 185px;
  position: absolute;
  margin-left: 67px;

  @media (min-width: @tablet-width) {
    margin-left: 291px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 507px;
  }
}
