.main-container__element-image {
  box-sizing: border-box;
  background-image: url("../img/image/jpg/back-mobile.jpg");
  color: @navigation-text-color;
  background-repeat: no-repeat;
  background-color: @navigation-background;
  background-position: 0 100%;
  min-height: 389px;
  align-items: center;
  text-align: center;
  display: block;
}

