.main-footer__hashtag {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: @heading-text-color;
  margin: 0;
}

.main-footer__copyright--text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: @heading-text-color;
  text-transform: uppercase;
}

.main-footer {
  text-align: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-footer__social {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 980px;
  }
}
