.preferences-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 52px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.preferences-list__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @heading-text-color;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 10px;
  text-transform: uppercase;

  @media (min-width: @mobile-width-only) {
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    padding-left: 0;
  }
}

.preferences-list__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: @paragraph-text-color;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  text-transform: uppercase;

  @media (min-width: @mobile-width-only) {
    text-align: left;
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-left: 0;
  }
}


.preferences__numbering {
  margin: 0;
}

.preferences-list__item {
  background-image: url("../img/image/svg/icon-house.svg");
}

.preferences-list__div {
  display: flex;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.preferences-list__svg {
  @media (min-width: @tablet-width) {
    width: 75px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 75px;
    height: 72px;
  }
}
