.section__header {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: @heading-text-color;
  margin: 0;
  padding: 0;
}

.section__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: @heading-text-color;
  margin: 0;
  padding: 0;
}

.section__text-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @heading-text-color;
  margin: 0;
  padding: 0;
}

.section__text-subtitle--location {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: @heading-text-color;
  margin: 0;
  padding: 0;
}

.section__text--subtitle {
  margin: 20px;
  text-align: center;
}

.section-button {
  width: 284px;
  height: 58px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 458px;
    height: 58px;
  }

  @media (min-width: @desktop-width) {
    width: 458px;
    height: 58px;
  }
}
